    <section class="aim-overlay-section actives-section">
      <a class="close-overlay close-overlay-actives hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img act-img">
            <img class="actives-img" alt="AIM - Activos" src="/assets/images/act-01.png">
          </div>
          <div class="module-cont actives-detail">
            <a class="close-overlay close-overlay-actives visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Activos
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Gestión en terreno
                  </h4>
                  <p>
                      Ficha digital de activos con información relevante como  depreciaciones, garantías, etc.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Informar y Reportar
                  </h4>
                  <p>
                      Visibilidad de incidentes asociados a los activos y mantenciones preventivas y reactivas.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Seguimiento y Control
                  </h4>
                  <p>
                      Supervisión de los trabajos realizados por el equipo y  empresas externas.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Medir Nivel de Calidad y Cumplimiento
                  </h4>
                  <p>
                      Medir con base a reportes estadísticos tiempos de respuesta y calidad de servicios.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Mejores Decisiones
                  </h4>
                  <p>
                      Permite revisar presupuestos asociados a los activos.
                  </p>
                </div>
            </div>
            <div class="icons-row">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg qr" src="/assets/images/svg/qr.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Gestión ágil en terreno
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg line" src="/assets/images/svg/line.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Diagnosticar, medir y  controlar
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Mejores decisiones
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>