    <section class="aim-overlay-section checklist-section">
      <a class="close-overlay close-overlay-checklist hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img checklist-img">
            <img class="actives-img" alt="AIM - Checklist" src="/assets/images/check-01.png">
          </div>
          <div class="module-cont checklist-detail">
            <a class="close-overlay close-overlay-checklist visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Checklist
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Estandarización y Control
                  </h4>
                  <p>
                      Estandarización de procesos y reportes. Transversal a todas las áreas.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Notificaciones
                  </h4>
                  <p>
                      Permite asociar incidentes y notificar en tiempo real. Continuidad operacional.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Nivel de Cumplimiento
                  </h4>
                  <p>
                      Mide y controla a los equipo de trabajo y su funcionamiento.
                  </p>
                </div>
            </div>
            <div class="icons-row">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg pin" src="/assets/images/svg/pin.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Gestión ágil en terreno.
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg clock" src="/assets/images/svg/clock.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Optimiza tiempos
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Nivel de Cumplimiento
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>