    <section class="aim-overlay-section commercial-section">
      <a class="close-overlay close-overlay-commercial hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img commercial-img">
            <img class="actives-img" alt="AIM - Gestión Comercial" src="/assets/images/comm-01.png">
          </div>
          <div class="module-cont commercial-detail">
            <a class="close-overlay close-overlay-commercial visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Gestión Comercial
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Gestión en terreno
                  </h4>
                  <p>
                      Información y ficha digital de tiendas comerciales (contratos, arriendos, patentes, multas, ventas, etc.)
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Reporte de incidentes
                  </h4>
                  <p>
                      Permite asociar incidentes a tiendas comerciales y realizar seguimiento de soluciones.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Conexiones con otros Sistemas ERP
                  </h4>
                  <p>
                      AIM se integra con muchos sistemas de ERP (SAP, Oracle, IBM, etc.)
                  </p>
                </div>
            </div>
            <div class="icons-row">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg pin" src="/assets/images/svg/pin.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Gestión ágil en terreno
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg clock" src="/assets/images/svg/clock.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Optimiza tiempos
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Mejores decisiones
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>