    <section class="aim-overlay-section incidents-section">
      <a class="close-overlay close-overlay-incidents hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img inc-img">
            <img class="incidents-img" alt="AIM - Incidentes" src="/assets/images/inc-01.png">
          </div>
          <div class="module-cont incidents-detail">
            <a class="close-overlay close-overlay-incidents visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Incidentes
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Informar y Reportar
                  </h4>
                  <p>
                      Informar y reportar en terreno incidentes con las áreas responsables.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Visibilidad y Trazabilidad
                  </h4>
                  <p>
                      Entregamos visibilidad en tiempo real de toda la información de su negocio.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Control y Confirmación
                  </h4>
                  <p>
                      Permite controlar y confirmar los trabajos realizados por equipos internos y empresas externas.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Medir Calidad y Cumplimiento
                  </h4>
                  <p>
                      Medir con base a reportes estadísticos, tiempos de respuesta y calidad de servicios.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Mejores Decisiones
                  </h4>
                  <p>
                      Revisión de dotaciones y presupuestos asignados.
                  </p>
                </div>
            </div>
            <div class="icons-row">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg clock" src="/assets/images/svg/clock.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Mejores tiempos de respuesta
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg usd" src="/assets/images/svg/usd.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Optimizar gestión de recursos
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Procesos más eficientes
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>