    <section class="aim-overlay-section marketing-section">
      <a class="close-overlay close-overlay-marketing hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img marketing-img">
            <img class="actives-img" alt="AIM - Marketing" src="/assets/images/mark-01.png">
          </div>
          <div class="module-cont marketing-detail">
            <a class="close-overlay close-overlay-marketing visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Marketing
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Comunicación Directa con Clientes
                  </h4>
                  <p>
                      Mediante tótems digitales ayudamos a los cliente a encontrar sus tiendas favoritas apoyando la experiencia de compra.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Soporte Publicitario
                  </h4>
                  <p>
                      Mediante soportes digitales ofrecemos visibilidad de campañas publicitarias.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Apoyo de Promociones y Venta
                  </h4>
                  <p>
                      Enviamos a los dispositivos de los usuarios cupones y descuentos para aumentar la venta.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Creación de BBDD
                  </h4>
                  <p>
                      Obtenemos base de datos para tácticas de marketing.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Estadísticas y Oportunidades.
                  </h4>
                  <p>
                      Se generan reportes de búsqueda y usabilidad de usuarios.
                  </p>
                </div>
            </div>
            <div class="icons-row two-cols">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg pin" src="/assets/images/svg/pin.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Experiencia de compra
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Apoyo ROI
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>