    <section class="aim-overlay-section permits-section">
      <a class="close-overlay close-overlay-permits hidden-xs" href="#">
          <div class="svg-btn">
            <img class="svg back" src="/assets/images/svg/back.svg">
          </div>
      </a>
      <div class="aim-overlay-body">
          <div class="temp-img permits-img">
            <img class="actives-img" alt="AIM - Permisos" src="/assets/images/permits-01.png">
          </div>
          <div class="module-cont permits-detail">
            <a class="close-overlay close-overlay-permits visible-xs" href="#">
                <div class="svg-btn">
                  <img class="svg back" src="/assets/images/svg/times.svg">
                </div>
            </a>
            <h2 class="title">
                <span class="lbl-ttl">
                Módulo
                </span>
                Permisos
            </h2>
            <div class="module-cont-text">
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Control de ingresos
                  </h4>
                  <p>
                      Permite  controlar el ingreso de personal externos a los recintos. Fiscalización en terreno.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Disminuye Tiempos  Gestión.
                  </h4>
                  <p>
                      Automatiza proceso y mejora comunicación con empresas proveedoras.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Estandarizar procesos
                  </h4>
                  <p>
                      Homologar procesos de ingreso a nivel compañía.
                  </p>
                </div>
                <div class="module-cont-text-row">
                  <h4 class="sub-ttl">
                      Gestión Estadística
                  </h4>
                  <p>
                      Medición y control de KPI’s.
                  </p>
                </div>
            </div>
            <div class="icons-row">
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg guard" src="/assets/images/svg/guard.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Control de ingresos en línea
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg cog" src="/assets/images/svg/cog.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Automatizar y estandarizar procesos
                  </span>
                </div>
                <div class="icons-cont">
                  <div class="icon-group">
                      <div class="svg-icon">
                        <img class="svg check" src="/assets/images/svg/check.svg">
                      </div>
                      <div class="bg-icon">
                      </div>
                  </div>
                  <span class="icon-call">
                  Optimizar gestión de ingreso
                  </span>
                </div>
            </div>
          </div>
      </div>
    </section>