    <div class="page-overlay-wrapper" style="opacity: 0; display: none;">
      <div class="overlay-sections">
          <section class="contact-section overlay-section" style="display: none;">
            <div class="fade-in" style="opacity: 0; transform: translateY(0px);">
                <div class="form-container">

                    <form id="contact_form" class="new_contact_form" action="https://formspree.io/devops@aimmanager.com" accept-charset="UTF-8" data-remote="true" method="post">
                    <div id="message_container"></div>
                    <h4>Envíanos un correo</h4>
                    <p>Contáctate con nosotros si quieres reunirte para contarnos tu proyecto, cotizar con nosotros, crear una alianza comercial, etc.</p>
                    <div class="group text">
                      <label>Nombre</label>
                      <input type="text" name="contact_form[name]" id="contact_form_name" />
                      <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group text">
                      <label>Email</label>
                      <input type="text" name="contact_form[email]" id="contact_form_email" />
                      <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group text">
                      <label>Teléfono</label>
                      <input type="text" name="contact_form[phone]" id="contact_form_phone" />
                      <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group text">
                      <label>Mensaje</label>
                      <textarea class="form-control" name="contact_form[comment]" placeholder="" rows="3"></textarea>
                      <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <br/>
                    <div class="actions-form">2
                      <a class="fader-link close-overlay" href="javascript:;" data-ga-label="Home" data-overlay-target="">
                        <button type="button" class="button cancel">Cancelar</button>
                      </a>
                      <button id="submit_form" type="button" class="button buttonBlue" onClick="validateForm();">Enviar
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                      </button>
                    </div>
                  </form>

                </div>
            </div>
          </section>
      </div>
    </div>
