  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="AaKIcde2AbDvg5GjmHdeRiex3PDmEmC17BO9-QnOoCM" />
    <title>AIM - Acid Interactive Maps</title>
    <meta name="Description" content="AIM - Acid Interactive Maps">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="AIM - Acid Interactive Maps">
    <meta property="og:url" content="http://www.aimmanager.com">
    <meta property="og:description" content="Aplicación de “Property Management” que utiliza la tecnología móvil y georreferenciación en línea, lo que permite gestionar los recintos con total visibilidad y en tiempo real.">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
  </head>